html, body{font-family: "Roboto", sans-serif; height:100%;}
.middle h1{text-transform: uppercase;}/* TITULOS DO SITE */

/* NAV BAR DROPDOWN */
.dropdown-content li a{color:#115FD3;font-family: "Roboto", sans-serif;}
.dropdown-content li a:hover{color:#0d47a1;background-color: #0d48a12d;}

/* rodape */
.middle{min-height:100%;}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
}

/* consulta_rapida => table do servidor de pastas e impressao */
.tabela th{font-family: "Roboto", sans-serif; font-size:18px;}

/* SCROLLBAR */
::-webkit-scrollbar-track {background-color: #F4F4F4;}
::-webkit-scrollbar {width: 6px; background: #F4F4F4;}
::-webkit-scrollbar-thumb {background: #dad7d7;}

/* BREADCRUMB */
nav.clean {background: none; box-shadow: none;}
nav.clean .breadcrumb {color: black;}
nav.clean .breadcrumb:before {color: rgba(0, 0, 0, 0.7);}
.breadcrumb{color:black; font-size:15px;
}

/* unidades.php */
.tabelaUnidades table thead tr th{
    user-select:none;
    font-size:18px;
}

/* geradorCarta.php */
.formValida{
    font-size:10px;
    color:Red;
    float:left;
}

/*********************************************************** */
/************ATRIBUTOS DO FORM****************************** */
/* label do input*/
.input-field input:focus + label {
    color: #7b7b7b    !important; 
}
 /* label underline focus color || Border bottom*/
.row .input-field input:focus {
    border-bottom: 1px solid #074cb4  !important;
    box-shadow: 0 1px 0 0 #074cb4   !important
}
/* COR DO SELECT DO FORM */
ul.dropdown-content.select-dropdown li span {
    color: #4968bc; /* no need for !important :) */
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #3473d1;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #3473d1;
}


.tabelaUnidades table tbody tr:hover {
  /* atributos para se mudar na linha da tabela */
}
.tabelaUnidades table tbody tr:hover .unidade {
    /* ao passar o mouse pela linha, muda somente o id da unidade, que seria o titutlo */
    color: #074cb4;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}
