html, body{
    font-family: "Roboto", sans-serif;
    height:100%;
}

/* index.php */
.middle h1 /* TITULOS DO SITE */{
    text-transform: uppercase;
}

/* NAV BAR DROPDOWN */
.dropdown-content li a{color:#115FD3;font-family: "Roboto", sans-serif;}
.dropdown-content li a:hover{color:#0d47a1;background-color: #0d48a12d;}

/* rodape */
.middle{min-height:100%;}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
}

